* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #cfc5b1;
}
.container {
    width: 1000px;
    margin: 0 auto;
}
.header {
    padding: 50px;
    background-color: #716558;
}
.content {
    overflow: hidden;
}
.sidebar {
    width: 200px;
    padding: 25px;
    float: left;
    background-color: #fbb040;
}
.main {
    width: 700px;
    padding: 25px;
    float: left;
    background-color: #29aae2;
}
.sidebar, .main {
    padding-bottom: 10025px;
    margin-bottom: -10000px;
}
.footer {
    padding: 50px;
    background-color: #8cc63f;
}
